# Python
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/
.gemini/

# Dados Locais (Não devem ir para o repositório)
shared_folder/
node1_data/
node2_data/
node3_data/
state.json
*.sqlite3
*.db
